body {
 background: url(images/wood.png);
}

#header{
	position: fixed;
	width: 100.50% ;
	margin: -10px;
	background: rgba(0,0,0,0.6);
	font-family: 'Audiowide', cursive;
}

#header h1 {
	display: inline-block;
	vertical-align: middle; 
	color: white; 
}
#header a{
	color: white; 
	text-decoration: none;
}

#header ul li:hover{
	background: red; 
}

#header img{
	width: 100px;
	vertical-align: middle;
}
#header ul{
	display: inline-block;
	float: right;
	padding: 10px; 
	vertical-align: middle;
}

#header ul li{
	display: inline-block;
	border: solid white; 
	border-radius: 10px; 
	padding: 10px; 
	margin: 5px;
	background: #EB650C;
}

#contact{
	background: url(images/creampaper.png);
	margin-right: auto; 
	margin-left: auto; 
	width: 700px; 
	padding: 10px; 
	border: white solid 5px; 
	border-radius: 10px; 
	text-align: center;
	box-shadow: 5px 7px 5px #424240;
}

#frame{
	padding-top: 125px;
	padding-bottom: 50px;
}
